
@{ // c# code
    ViewBag.Title = "Index";

    var i = 6;
    var x = i * 2;
}
<h1>Student Index</h1>

<p>hello</p>
<p>How many dogs are barking? Answer:@x dogs are barking</p>

<p>
    @{
        var f = 5;

    }
</p>

<img src="pulpitrock.jpg" alt="Mountain View">
<img src="https://www.w3schools.com/html/pulpitrock.jpg" alt="Mountain View">
